###> project/common ###
.idea/
.vscode/
_tmp/
###< project/common ###


###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> docker volumes ###
.dbdata/
.data/
data'
docker/.dbdata/
docker/.data/
docker/data/
###< docker volumes ###